#hotelCont{
    margin: 0px 0px 0 24px;
    width: 326px;
    height: 227px;
    padding: 0px 0px 0px 0px;
}
#imghotel{
    width: 367px;
    height: 243px;
}
#promocion1{
    width: 471px;
    height: 225px;
}
#promocion2{
    width: 267px;
    height: 226px;
}
#promocion3{
    width: 267px;
    height: 226px;
}

#bannerNavidad{
    width: 752px;
    height: 226px;
}

#bannerNavidad2{
    width: 364px;
    height: 226px;
}
#navidadPromo{
    background-color: black;
}



